@model PartyInvites.Models.CompetitionInvite

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css"/>
    <title>RsvpForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center" ><h4>RSVP</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Your name:</label>
                    Your name: @Html.TextBoxFor(x => x.Name, new { @class = "form-control" }) 
                </div>
                <div class="form-group">
                    <label>Your email:</label>
                    Your email: @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Your phone:</label>
                    Your phone: @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </div>


                <div class="form-group">
                    <label>Your Interest:</label>
                    @Html.DropDownListFor(x => x.Interest, new List<SelectListItem> {
               
                           new SelectListItem { Text = "Internet of Things", Value = PartyInvites.Models.TechnicalInterest.IoT.ToString() },// Internet of Things is the first item, so it will be the default interest // Type casting (String)
                            new SelectListItem { Text = "Cognitive Computing", Value = PartyInvites.Models.TechnicalInterest.Cognitive.ToString() },
                            new SelectListItem { Text = "Wearable Computing", Value = PartyInvites.Models.TechnicalInterest.Wearable.ToString() },
                            new SelectListItem { Text = "Augmented / Virtual Reality", Value = PartyInvites.Models.TechnicalInterest.AR_VR.ToString() }
                        },  new { @class = "form-control" })
                </div>

                <div class="text-center">
                    <input type="submit" name="btn" value="Accept Invitation" />
                    <input type="submit" name="btn" value="Send Regrets" />
                </div>
            }

        </div>
    </div>
</body>
</html>
